{# frontoffice/publication/show.html.twig #}
{% extends 'frontoffice/base.html.twig' %}

{% block body %}
    <h1>Publication</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publication.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ publication.title }}</td>
            </tr>
            <tr>
                <th>ShortDescription</th>
                <td>{{ publication.shortDescription }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ publication.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ publication.createdAt ? publication.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ publication.updatedAt ? publication.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    {% if publication.image %}
                        <img src="{{ asset('uploads/' ~ publication.image) }}" alt="{{ publication.title }}" width="100" height="100" class="fluid my-2 rounded">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
