{{ form_start(form, {'attr': {'novalidate': 'novalidate'}} )}}

<div class="form-group">
    <div class="form-control custom-input">
        {{ form_label(form.nom, 'nom de hotel :', {'label_attr': {'class': 'custom-label'}}) }}
        {{ form_widget(form.nom) }}

    </div>
    <div class="error-container">
        {{ form_errors(form.nom) }}
    </div>
</div>


<div class="form-group">
    <div class="form-control custom-input">
        {{ form_label(form.nbretoile, 'nbretoile :', {'label_attr': {'class': 'custom-label'}}) }}
        {{ form_widget(form.nbretoile) }}
    </div>
</div>
<div class="form-group">
    <div class="form-control custom-input">
        {{ form_label(form.avis, 'avis :', {'label_attr': {'class': 'custom-label'}}) }}
        {{ form_widget(form.avis) }}
    </div>
</div>
<div class="form-group">
    <div class="form-control custom-input">
        {{ form_label(form.emplacement, 'emplacement :', {'label_attr': {'class': 'custom-label'}}) }}
        {{ form_widget(form.emplacement) }}
    </div>
</div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}



