{% extends 'frontoffice/base.html.twig' %}

{% block title %}reserve voiture{% endblock %}


{% block body %}
<br>
<br>
<br>
<br>
<br>
    <h3> Detail </h3>
    <p>
        <b>Couleur: </b>{{voiture.couleur}}<br>
        <b>Marque: </b>{{voiture.marque}}<br>
        <b>Model: </b>{{voiture.model}}<br>
        <b>Energy: </b>{{voiture.energy}}<br>
        <b>Capacite: </b>{{voiture.capacite}}
    </p>
    {{ form(formulaireLocationVoiture, {attr: {novalidate: 'novalidate'}}) }}
<br>
<br>
<br>
<br>
{% endblock %}