{% extends 'frontoffice/base.html.twig' %}

{% block title %}list location voiture{% endblock %}


{% block body %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Liste des Location voitures Réservé</h1>

<table border="1" class="table table-striped table-bordered" id="dataTable">
    <thead class="thead-dark">
        <tr>
            <th>Image</th>
            <th>Prix Par Jour ($)</th>
            <th>Date Debut</th>
            <th>Date Fin</th>
            <th>Type</th>
            <th>Status</th>
            <th>Voiture</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in locationVoitureArr %}
            <tr>
                <td><img width="70px" height="70px" src="{{ asset('uploads/images/' ~ i.getVoiture().imageFileName) }}"></td>
                <td>{{i.prix}}</td>

                {% if i.dateDebut is not null %}
                    <td>{{ i.dateDebut|date }}</td>
                {% else %}
                    <td></td>
                {% endif %}

                {% if i.datefin is not null %}
                    <td>{{ i.datefin|date }}</td>
                {% else %}
                    <td></td>
                {% endif %}

                
                <td>{{i.type}}</td>
                <td>{{i.status}}</td>
                <td>{{i.voiture}}</td>
                <td><a class="btn btn-primary" href="{{path('app_reservedRecu_user', { id: i.id }) }}"> Récu </a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}