{% extends 'frontoffice/base.html.twig' %}

{% block title %}list location voiture{% endblock %}


{% block body %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Liste des Location voitures Réservé</h1>

<table border="1">
    <tr>
        <td>Id</td>
        <td>Prix Par Jour ($)</td>
        <td>Date Debut</td>
        <td>Date Fin</td>
        <td>Type</td>
        <td>Status</td>
        <td>Voiture</td>
    </tr>
    {% for i in locationVoitureArr %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.prix}}</td>

            {% if i.dateDebut is not null %}
                <td>{{ i.dateDebut|date }}</td>
            {% else %}
                <td></td>
            {% endif %}

            {% if i.datefin is not null %}
                <td>{{ i.datefin|date }}</td>
            {% else %}
                <td></td>
            {% endif %}

            
            <td>{{i.type}}</td>
            <td>{{i.status}}</td>
            <td>{{i.voiture}}</td>
        </tr>
    {% endfor %}
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}