{% extends 'frontoffice/base.html.twig' %}

{% block title %}Commentaire{% endblock %}


{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Liste de commentaire</h1>
<table border="1">
    <tr>
        <td>Id</td>
        <td>Contenu</td>
        <td>DateCreation</td>

    </tr>
    {% for i in tabCommentaire %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.contenu}}</td>
            <td>{{i.dateCreation | date}}</td>

             <td>
                 <a href = "{{ path('app_deleteCommentaire', { id: i.id }) }}"> Delete </a>
                 <a href = "{{ path('app_updateCommentaire', { id: i.id }) }}"> Edit </a>
             </td>

        </tr>
    {% endfor %}
</table>
<br>
<br>
<br>
<br>

<br>
{% endblock %}