{% extends 'frontoffice/base.html.twig' %}

{% block title %}Reservation{% endblock %}


{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <style>
        body {
            background-image: url('{{ asset('frontoffice/images/background.jpg') }}'); /* Set your background image URL */

            /* Add more styling as needed */
        }
    </style>
    <h1>Create new Reservation</h1>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('app_hotel_index') }}">Réservation d'hôtel </a>
    <br>
    <a href="{{ path('app_listLocationVoiture_user') }}">Réservation de voiture</a>
    <br>
    <a href="{{ path('app_blank') }}">back to list</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}