{% extends 'frontoffice/base.html.twig' %}

{% block title %}blank{% endblock %}


{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <!DOCTYPE html>




        <h1>Reservation</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Datedepart</th>
                <td>{{ reservation.Datedepart ? reservation.Datedepart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Dateretour</th>
                <td>{{ reservation.Dateretour ? reservation.Dateretour|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Classe</th>
                <td>{{ reservation.Classe }}</td>
            </tr>
            <tr>
                <th>Destinationdepart</th>
                <td>{{ reservation.Destinationdepart }}</td>
            </tr>
            <tr>
                <th>Destinationretour</th>
                <td>{{ reservation.Destinationretour }}</td>
            </tr>
            <tr>
                <th>Nbrdepersonne</th>
                <td>{{ reservation.Nbrdepersonne }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('app_user_reservation') }}">back to list</a>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}