{% extends 'frontoffice/base.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Liste des réclamations</h1>

    <table border="1">
        <tr>
            <td>Id</td>
            <td>Sujet</td>
            <td>Description</td>
            <td>DateSoumission</td>
            <td>Actions</td>
        </tr>
        
        {% for reclamation in tabReclamation %}
            {# Vérifiez si l'utilisateur de la réclamation est le même que l'utilisateur connecté #}
            {% if reclamation.user == app.user %}
                <tr>
                    <td>{{ reclamation.id }}</td>
                    <td>{{ reclamation.Sujet }}</td>
                    <td>{{ reclamation.Description }}</td>
                    {% if reclamation.DateSoumission is not null %}
                        <td>{{ reclamation.DateSoumission|date }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>
                        <a href="{{ path('app_deleteReclamation_front', { id: reclamation.id }) }}"> Supprimer </a>
                        <a href="{{ path('app_updateReclamation_front', { id: reclamation.id }) }}"> Modifier </a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}

        <tr>
            <td colspan="5">
                <a href="{{ path('add_reclamation') }}"> Ajouter </a>
            </td>
        </tr>
    </table>

    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
