{% extends 'backoffice/base.html.twig' %}

{% block title %}Commentaire{% endblock %}


{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Liste des commentaires</h1>
<table border="1">
    <tr>
        <td>Contenu</td>
        <td>Date de creation</td>
        <td>Réclamation</td>


    </tr>
    {% for i in tabCommentaire %}
        <tr>
            <td>{{i.contenu}}</td>
            {% if i.dateCreation is not null %}
                <td>{{ i.dateCreation|date }}</td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{i.Reclamation}}</td>


             <td>
                 <a href = "{{ path('app_deleteCommentaire_back', { id: i.id }) }}"> Supprimer </a>
                 <a href = "{{ path('app_updateCommentaire_back', { id: i.id }) }}"> Modifier </a>
             </td>

        </tr>
    {% endfor %}

            <a href = "{{ path('add_commentaire_back') }}"> Ajouter </a>

</table>
<br>
<br>
<br>
<br>

<br>
{% endblock %}