
{% extends 'backoffice/base.html.twig' %}
{% block title %}
<title>Vols</title>
{% endblock %}

{% block body %}
    <h1>Vols</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vol.id }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ vol.duree ? vol.duree|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Datedepart</th>
                <td>{{ vol.datedepart ? vol.datedepart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Datearrive</th>
                <td>{{ vol.datearrive ? vol.datearrive|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nbrescale</th>
                <td>{{ vol.nbrescale }}</td>
            </tr>
            <tr>
                <th>Nbrplace</th>
                <td>{{ vol.nbrplace }}</td>
            </tr>
            <tr>
                <th>Classe</th>
                <td>{{ vol.classe }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ vol.destination }}</td>
            </tr>
            <tr>
                <th>Pointdepart</th>
                <td>{{ vol.pointdepart }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ vol.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vols_index') }}">back to list</a>

    <a href="{{ path('app_vols_edit', {'id': vol.id}) }}">edit</a>

    {{ include('vols/_delete_form.html.twig') }}
{% endblock %}
