{% extends 'backoffice/base.html.twig' %}

{% block title %}Blank{% endblock %}


{% block body %}


    <h1>Vols</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Duree</th>
            <th>Datedepart</th>
            <th>Datearrive</th>
            <th>Nbrescale</th>
            <th>Nbrplace</th>
            <th>Classe</th>
            <th>Destination</th>
            <th>Pointdepart</th>
            <th>Prix</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for vol in vols %}
            <tr>
                <td>{{ vol.id }}</td>
                <td>{{ vol.duree ? vol.duree|date('H:i:s') : '' }}</td>
                <td>{{ vol.datedepart ? vol.datedepart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ vol.datearrive ? vol.datearrive|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ vol.nbrescale }}</td>
                <td>{{ vol.nbrplace }}</td>
                <td>{{ vol.classe }}</td>
                <td>{{ vol.destination }}</td>
                <td>{{ vol.pointdepart }}</td>
                <td>{{ vol.prix }}</td>
                <td>
                    <a href="{{ path('app_vols_show', {'id': vol.id}) }}">show</a>
                    <a href="{{ path('app_vols_edit', {'id': vol.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vols_new') }}">Create new</a>
{% endblock %}