{% extends 'frontoffice/base.html.twig' %}

{% block title %}blank{% endblock %}


{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1>Hotel index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Nbretoile</th>
            <th>Emplacement</th>
            <th>Avis</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.id }}</td>
                <td>{{ hotel.nom }}</td>
                <td>{{ hotel.nbretoile }}</td>
                <td>{{ hotel.emplacement }}</td>
                <td>{{ hotel.avis }}</td>
                <td>
                    <a href="{{ path('app_hotel_show', {'id': hotel.id}) }}">show</a>
                    <a href="{{ path('app_hotel_edit', {'id': hotel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hotel_new') }}">Create new</a>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}