{% extends 'frontoffice/base.html.twig' %}

{% block title %}Homepage{% endblock %}


{% block body %}

    <div class="hero-slider">
        <div class="slider-item th-fullpage hero-area" style="background-image: url(frontoffice/images/slider/slider-bg-1.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Crafting Digital <br>
                            Experience</h1>
                        <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Quod, <br> veritatis tempore nostrum id
                            officia quaerat eum corrupti, <br> ipsa aliquam velit.</p>
                        <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main"
                            href="service.html">Explore Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item th-fullpage hero-area" style="background-image: url(frontoffice/images/slider/slider-bg-2.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">We Combine Design <br> and
                            Creativity</h1>
                        <p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">Create just what you need
                            for your Perfect Website. Choose from a wide range
                            <br> of Elements & simply put them on our Canvas.</p>
                        <a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main"
                            href="service.html">Explore Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    Start About Section
    ==================================== -->
    <br>
    <br>
    <br>
    <br>
 <h2>Our Special Offres </h2>
    <br>
    <br>

<main role ="main">
<div class ="album py-5 bg-light">
<div class="container-fluid">
<style>
    .card {
        height: 100%;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
    }

    .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-text {
        color: #333;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .btn-group {
        margin-top: 10px;
    }

    .text-muted {
        font-size: 12px;
    }
</style>


<div class="row">
    {% for offres in table %}
    <div class="col-md-4 p-3">
        <div class="card mb-4 shadow-sm">
        <p class="card-text">{{ offres.title }}</p>
            <img src="{{ offres.image }}" alt="{{ offres.image }}">
            <div class="p-3">

                <p class="card-text">{{ offres.lieu }}</p>
                <p class="card-text">Prix: {{ offres.prix }} DT</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{{ path('offres_show', {'id': offres.id}) }}" class="btn btn-sm btn-outline-secondary">Details</a>
                        
                      <small class="text-muted">{{ offres.createdAt|date("d/m/Y") }}</small>
                </div>
            </div>
        </div>
       
    </div>

    
</div>     {% endfor %}
</div>
</div>
</main>


 
   
    
    <section class="call-to-action section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 text-center">
                    <h2>Let's Create Something Together</h2>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicudin bibendum auctor, nisi elit consequat ipsum,
                        nesagittis sem nid elit. Duis sed odio sitain elit.</p>
                    <a href="contact.html" class="btn btn-main">Contact Us</a>
                </div>
            </div> <!-- End row -->
        </div> <!-- End container -->
    </section> <!-- End section -->

    <!--
    Start Counter Section
    ==================================== -->
    <section class="counter-wrapper section-sm">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 text-center">
                    <div class="title">
                        <h2>Award-Winning Agency</h2>
                        <p>Vestibulum nisl tortor, consectetur quis imperdiet bibendum, laoreet sed arcu. Sed condimentum iaculis ex, in faucibus lorem accumsan non. Donec mattis tincidunt metus. Morbi sed tortor a risus luctus dignissim.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- first count item -->
                <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                    <div class="counters-item">
                        <i class="tf-ion-ios-alarm-outline"></i>
                        <div>
                            <span class="counter" data-count="150">0</span>
                        </div>
                        <h3>Happy Clients</h3>
                    </div>
                </div>
                <!-- end first count item -->

                <!-- second count item -->
                <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                    <div class="counters-item">
                        <i class="tf-ion-ios-analytics-outline"></i>
                        <div>
                            <span class="counter" data-count="130">0</span>
                        </div>
                        <h3>Projects completed</h3>
                    </div>
                </div>
                <!-- end second count item -->

                <!-- third count item -->
                <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                    <div class="counters-item">
                        <i class="tf-ion-ios-compose-outline"></i>
                        <div>
                            <span class="counter" data-count="99">0</span>
                        </div>
                        <h3>Positive feedback</h3>

                    </div>
                </div>
                <!-- end third count item -->

                <!-- fourth count item -->
                <div class="col-md-3 col-sm-6 col-xs-6 text-center ">
                    <div class="counters-item kill-border">
                        <i class="tf-ion-ios-bolt-outline"></i>
                        <div>
                            <span class="counter" data-count="250">0</span>
                        </div>
                        <h3>Cups of Coffee</h3>
                    </div>
                </div>
                <!-- end fourth count item -->
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section> <!-- end section -->

    <!-- Start Testimonial
    =========================================== -->
            
        <section class="testimonial section" id="testimonial">
            <div class="container">
                <div class="row">				
                    <div class="col-lg-12">
                        <!-- testimonial wrapper -->
                        <div class="testimonial-slider">
                            <!-- testimonial single -->
                            <div class="item text-center">
                                <i class="tf-ion-chatbubbles"></i>
                                <!-- client info -->
                                <div class="client-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum nulla, soluta dolorum. Eos earum, magni asperiores, unde corporis labore, enim, voluptatum officiis voluptates alias natus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, quia?</p>
                                </div>
                                <!-- /client info -->
                                <!-- client photo -->
                                <div class="client-thumb">
                                    <img loading="lazy" src="frontoffice/images/client-logo/clients-1.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="client-meta">
                                    <h3>William Martin</h3>
                                    <span>CEO , Company Name</span>
                                </div>
                                <!-- /client photo -->
                            </div>
                            <!-- /testimonial single -->
                    
                            <!-- testimonial single -->
                            <div class="item text-center">
                                <i class="tf-ion-chatbubbles"></i>
                                <!-- client info -->
                                <div class="client-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum nulla, soluta dolorum. Eos earum, magni asperiores, unde corporis labore, enim, voluptatum officiis voluptates alias natus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, quia?</p>
                                </div>
                                <!-- /client info -->
                                <!-- client photo -->
                                <div class="client-thumb">
                                    <img loading="lazy" src="frontoffice/images/client-logo/clients-2.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="client-meta">
                                    <h3>Emma Harrison</h3>
                                    <span>CEO , Company Name</span>
                                </div>
                                <!-- /client photo -->
                            </div>
                            <!-- /testimonial single -->
                        
                            <!-- testimonial single -->
                            <div class="item text-center">
                                <i class="tf-ion-chatbubbles"></i>
                                <!-- client info -->
                                <div class="client-details">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum nulla, soluta dolorum. Eos earum, magni asperiores, unde corporis labore, enim, voluptatum officiis voluptates alias natus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, quia?</p>
                                </div>
                                <!-- /client info -->
                                <!-- client photo -->
                                <div class="client-thumb">
                                    <img loading="lazy" src="frontoffice/images/client-logo/clients-3.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="client-meta">
                                    <h3>Alexander Lucas</h3>
                                    <span>CEO , Company Name</span>
                                </div>
                                <!-- /client photo -->
                            </div>
                            <!-- /testimonial single -->
                        </div>
                    </div> 		<!-- end col lg 12 -->
                </div>	    <!-- End row -->
            </div>       <!-- End container -->
        </section>    <!-- End Section -->

    <!--
    Start Blog Section
    =========================================== -->
    <section class="blog" id="blog">
        <div class="container">
            <div class="row justify-content-center">
                <!-- section title -->
                <div class="col-xl-6 col-lg-8">
                    <div class="title text-center ">
                        <h2> Latest <span class="color">Posts</span></h2>
                        <div class="border"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus facere accusamus, reprehenderit libero inventore nam.</p>
                    </div>
                </div>
                <!-- /section title -->
            </div>

            <div class="row">
                <!-- single blog post -->
                <article class="col-lg-4 col-md-6">
                    <div class="post-item">
                        <div class="media-wrapper">
                            <img loading="lazy" src="frontoffice/images/blog/post-1.jpg" alt="amazing caves coverimage" class="img-fluid">
                        </div>

                        <div class="content">
                            <h3><a href="single-post.html">Reasons to Smile</a></h3>
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                moon officia aute, non skateboard dolor brunch.</p>
                            <a class="btn btn-main" href="single-post.html">Read more</a>
                        </div>
                    </div>
                </article>
                <!-- /single blog post -->

                <!-- single blog post -->
                <article class="col-lg-4 col-md-6">
                    <div class="post-item">
                        <div class="media-wrapper">
                            <img loading="lazy" src="frontoffice/images/blog/post-2.jpg" alt="amazing caves coverimage" class="img-fluid">
                        </div>

                        <div class="content">
                            <h3><a href="single-post.html">A Few Moments</a></h3>
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                moon officia aute, non skateboard dolor brunch.</p>
                            <a class="btn btn-main" href="single-post.html">Read more</a>
                        </div>
                    </div>
                </article>
                <!-- end single blog post -->

                <!-- single blog post -->
                <article class="col-lg-4 col-md-6">
                    <div class="post-item">
                        <div class="media-wrapper">
                            <img loading="lazy" src="frontoffice/images/blog/post-3.jpg" alt="amazing caves coverimage" class="img-fluid">
                        </div>

                        <div class="content">
                            <h3><a href="single-post.html">Hints for Life</a></h3>
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                moon officia aute, non skateboard dolor brunch.</p>
                            <a class="btn btn-main" href="single-post.html">Read more</a>
                        </div>
                    </div>
                </article>
                <!-- end single blog post -->
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section> <!-- end section -->

{% endblock %}